@use '../global';
@use '../global/function' as func;

/* header */
.header{
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-top: 33px;


    /* navigation */
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 26px;

        /* responsive design */
        @media screen and(min-width: 600px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .logo{
            font-size: func.rem(26); //
            color: var(--text-color);
            font-weight: var(--font-bold);
            letter-spacing: 1.3px;
        }
        .social-links{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 39px;

            li{
                a{
                    svg path{
                        transition: all ease-in-out 0.3s;
                    }
                    &:hover svg path{
                        transition: all ease-in-out 0.3s;
                        fill: var(--underline-color);
                    }
                }
            }
        }
    }

     /* hero section */
    .hero-section{
        height: 80vh;
        margin-top: 196px;

        .hero-container{
            display: flex;
            flex-direction: column;
            gap: 41px;
            h1{
                font-size: clamp(2rem, 0.4552rem + 7.47vw, 3.4375rem);
    
                .name{
                    position: relative;
                    &::before{
                        content: "";
                        background-color: var(--underline-color);
                        width: 95%;
                        height: 6px;
                        border-radius: 6px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }
    
                /* responsive design */
                @media screen and(min-width: 600px) {
                    font-size: clamp(3.4375rem, 1.8685rem + 3.9286vw, 4.8125rem);
                    max-width: 748px;
                }
            }
            p{
                font-size: clamp(1rem, 0.873rem + 0.6309vw, 1.125rem);
                /* responsive design */
                @media screen and(min-width: 600px) {
                    max-width: 748px;
                }
            }
        }

    }

}