:root {
  --main-background: hsl(209, 53%, 16%);
  --text-color: hsl(0, 0%, 100%);
  --underline-color: hsl(259, 72%, 69%);
  --card-background: hsl(211, 56%, 20%);
  --hover-color: hsl(259, 64%, 44%);
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-bold: 700;
  --font-regular: 400;
  --animate-delay: 0.5s;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-space-grotesk);
  background-color: var(--main-background);
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.title {
  margin-bottom: 77px;
  text-align: center;
}
.title h2 {
  font-size: clamp(1.75rem, 1.3546rem + 1.9231vw, 2.125rem);
}
.title p {
  font-size: clamp(1rem, 0.8682rem + 0.641vw, 1.125rem);
}

.animation_delay {
  animation-delay: var(--animate-delay);
}

.wrapper {
  max-width: 1199px;
  width: 90%;
  margin: 0 auto;
}

.loader-container {
  background-color: var(--main-background);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 999;
}

.loader {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 5px solid #e74c3c;
  position: relative;
  animation: load 2s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
}

.loader::before {
  border-top: 5px solid #e67e22;
  transform: rotate(120deg);
}

.loader::after {
  border-top: 5px solid #3498db;
  transform: rotate(240deg);
}

.loader span {
  position: absolute;
  font-size: small;
  width: 100px;
  height: 100px;
  color: #fff;
  text-align: center;
  line-height: 100px;
  animation: a2 2s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}
@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
}
/* convert px to rem */
/* header */
.header {
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding-top: 33px;
  /* navigation */
  /* hero section */
}
.header .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  /* responsive design */
}
@media screen and (min-width: 600px) {
  .header .nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
.header .nav .logo {
  font-size: 1.625rem;
  color: var(--text-color);
  font-weight: var(--font-bold);
  letter-spacing: 1.3px;
}
.header .nav .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 39px;
}
.header .nav .social-links li a svg path {
  transition: all ease-in-out 0.3s;
}
.header .nav .social-links li a:hover svg path {
  transition: all ease-in-out 0.3s;
  fill: var(--underline-color);
}
.header .hero-section {
  height: 80vh;
  margin-top: 107px;
  /* responsive design */
}
@media screen and (min-width: 600px) {
  .header .hero-section {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
}
.header .hero-section .hero-container h1 {
  font-size: clamp(2rem, 0.4552rem + 7.47vw, 3.4375rem);
  margin-bottom: 28px;
  /* responsive design */
}
.header .hero-section .hero-container h1 .name {
  position: relative;
}
.header .hero-section .hero-container h1 .name::before {
  content: "";
  background-color: var(--underline-color);
  width: 95%;
  height: 6px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media screen and (min-width: 600px) {
  .header .hero-section .hero-container h1 {
    font-size: clamp(3.4375rem, 1.8685rem + 3.93vw, 4.8125rem);
    max-width: 748px;
    margin-bottom: 46px;
  }
}
.header .hero-section .hero-container p {
  font-size: clamp(1rem, 0.873rem + 0.6309vw, 1.125rem);
  letter-spacing: 1.5px;
  font-weight: var(--font-regular);
  line-height: 23px;
  margin-bottom: 25px;
  /* responsive design */
}
@media screen and (min-width: 600px) {
  .header .hero-section .hero-container p {
    max-width: 450px;
    margin-bottom: 40px;
  }
}
.header .hero-section .hero-container .download-btn {
  color: var(--text-color);
  font-size: clamp(1rem, 0.873rem + 0.6309vw, 1.125rem);
  letter-spacing: 1.5px;
  font-weight: var(--font-bold);
  position: relative;
}
.header .hero-section .hero-container .download-btn:hover::before {
  background-color: var(--hover-color);
  transition: all ease-in-out 0.3s;
}
.header .hero-section .hero-container .download-btn::before {
  content: "";
  background-color: var(--underline-color);
  transition: all ease-in-out 0.3s;
  width: 95%;
  height: 2px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  bottom: -4px;
}

/* about section */
.about-section {
  padding: 44px 0;
  margin-bottom: 80px;
  overflow-x: hidden;
}
.about-section .about .about-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 69px;
}
@media screen and (min-width: 800px) {
  .about-section .about .about-content {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    align-items: center;
    -moz-column-gap: 68px;
         column-gap: 68px;
  }
}
@media screen and (min-width: 800px) {
  .about-section .about .about-content .left-content {
    text-align: left;
  }
}
.about-section .about .about-content .left-content h4 {
  font-size: clamp(1.3125rem, 1.1148rem + 0.9615vw, 1.5rem);
  font-weight: var(--font-bold);
  letter-spacing: 1.5px;
  margin-bottom: 34px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .about-section .about .about-content .left-content h4 {
    text-align: left;
  }
}
.about-section .about .about-content .left-content p {
  font-size: clamp(1rem, 0.8682rem + 0.641vw, 1.125rem);
  font-weight: var(--font-regular);
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.about-section .about .about-content .left-content p.last-child {
  margin-bottom: 32px;
}
.about-section .about .about-content .left-content .download-btn {
  color: var(--text-color);
  font-size: clamp(1rem, 0.8682rem + 0.641vw, 1.125rem);
  letter-spacing: 1.5px;
  font-weight: var(--font-bold);
  position: relative;
}
.about-section .about .about-content .left-content .download-btn:hover::before {
  background-color: var(--hover-color);
  transition: all ease-in-out 0.3s;
}
.about-section .about .about-content .left-content .download-btn::before {
  content: "";
  background-color: var(--underline-color);
  transition: all ease-in-out 0.3s;
  width: 100%;
  height: 2px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  bottom: -4px;
}
.about-section .about .about-content .right-content {
  width: 100%;
}
@media screen and (min-width: 600px) {
  .about-section .about .about-content .right-content {
    width: 510px;
    justify-self: center;
  }
}
@media screen and (min-width: 800px) {
  .about-section .about .about-content .right-content {
    width: 100%;
    max-width: 510px;
    justify-self: end;
  }
}
.about-section .about .about-content .right-content img {
  width: 100%;
  height: auto;
}

/* project section */
.project-section {
  padding: 40px 0;
  margin-bottom: 80px;
}
.project-section .project {
  position: relative;
  overflow: hidden;
  /* card section or the project section */
}
.project-section .project .arrow {
  display: none;
}
@media screen and (min-width: 744px) {
  .project-section .project .arrow {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    border: none;
    outline: none;
  }
}
.project-section .project .arrow.swiper-button-prev::after, .project-section .project .arrow.swiper-button-next::after {
  font-size: 23px;
  font-weight: var(--font-bold);
  color: var(--text-color);
}
.project-section .project .arrow.swiper-button-prev {
  position: absolute;
  left: 30%;
  top: 99%;
}
@media screen and (min-width: 744px) {
  .project-section .project .arrow.swiper-button-prev {
    top: 99%;
  }
}
@media screen and (min-width: 900px) {
  .project-section .project .arrow.swiper-button-prev {
    left: 40%;
    top: 98%;
  }
}
.project-section .project .arrow.swiper-button-next {
  position: absolute;
  right: 30%;
  top: 99%;
}
@media screen and (min-width: 744px) {
  .project-section .project .arrow.swiper-button-next {
    top: 99%;
  }
}
@media screen and (min-width: 900px) {
  .project-section .project .arrow.swiper-button-next {
    right: 40%;
    top: 98%;
  }
}
.project-section .project .project-container .swiper-wrapper {
  transition: all ease-in-out 0.3s;
}
.project-section .project .project-container .swiper-wrapper .swiper-slide {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  row-gap: 45px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin-bottom: 50px;
  /* responsive design */
}
@media screen and (min-width: 744px) {
  .project-section .project .project-container .swiper-wrapper .swiper-slide {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card {
  width: 100%;
  /* project title */
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .image-container {
  width: 100%;
  height: 280px;
  margin-bottom: 7px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .image-container:hover .project-links-desktop {
  filter: opacity(0.9);
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .image-container:hover img {
  transform: scale(1.2);
  transition: transform ease-in-out 0.3s;
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .image-container img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform ease-in-out 0.3s;
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .image-container .project-links-desktop {
  display: none;
  /* responsive design */
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  background-color: var(--card-background);
  filter: opacity(0);
  transition: filter ease-in-out 0.3s;
  /* responsive design */
}
@media screen and (min-width: 744px) {
  .project-section .project .project-container .swiper-wrapper .swiper-slide .card .image-container .project-links-desktop {
    display: flex;
  }
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .image-container .project-links-desktop ul {
  display: flex;
  gap: 26px;
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .image-container .project-links-desktop ul li > a {
  font-size: 1rem;
  font-weight: var(--font-bold);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .image-container .project-links-desktop ul li > a:hover::before {
  background-color: var(--hover-color);
  transition: all ease-in-out 0.3s;
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .image-container .project-links-desktop ul li > a::before {
  content: "";
  background-color: var(--underline-color);
  transition: all ease-in-out 0.3s;
  width: 95%;
  height: 2px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  bottom: -4px;
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .project-title h4 {
  font-size: 1.125rem;
  letter-spacing: 1.5px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  margin-bottom: 12px;
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .project-title ul.tech-use {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 21px;
  margin-bottom: 12px;
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .project-title ul.tech-use > li {
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: var(--font-regular);
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .project-title ul.project-links {
  display: flex;
  align-items: center;
  gap: 26px;
  /* responsive design */
}
@media screen and (min-width: 744px) {
  .project-section .project .project-container .swiper-wrapper .swiper-slide .card .project-title ul.project-links {
    display: none;
  }
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .project-title ul.project-links li > a {
  font-size: 1rem;
  font-weight: var(--font-bold);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .project-title ul.project-links li > a:hover::before {
  background-color: var(--hover-color);
  transition: all ease-in-out 0.3s;
}
.project-section .project .project-container .swiper-wrapper .swiper-slide .card .project-title ul.project-links li > a::before {
  content: "";
  background-color: var(--underline-color);
  transition: all ease-in-out 0.3s;
  width: 95%;
  height: 2px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  bottom: -4px;
}

/* skills section */
.skills-section {
  padding: 44px 0;
  margin-bottom: 80px;
}
.skills-section .skills .skills-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}
@media screen and (min-width: 600px) {
  .skills-section .skills .skills-container {
    grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
  }
}
.skills-section .skills .skills-container .card {
  width: 100%;
  min-height: 414px;
  height: auto;
  padding: 27px 25px;
  background-color: var(--card-background);
}
.skills-section .skills .skills-container .card .front-end-skills .front-end,
.skills-section .skills .skills-container .card .front-end-skills .back-end,
.skills-section .skills .skills-container .card .front-end-skills .others,
.skills-section .skills .skills-container .card .back-end-skills .front-end,
.skills-section .skills .skills-container .card .back-end-skills .back-end,
.skills-section .skills .skills-container .card .back-end-skills .others,
.skills-section .skills .skills-container .card .other-skills .front-end,
.skills-section .skills .skills-container .card .other-skills .back-end,
.skills-section .skills .skills-container .card .other-skills .others {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 27px;
}
.skills-section .skills .skills-container .card .front-end-skills .front-end h5,
.skills-section .skills .skills-container .card .front-end-skills .back-end h5,
.skills-section .skills .skills-container .card .front-end-skills .others h5,
.skills-section .skills .skills-container .card .back-end-skills .front-end h5,
.skills-section .skills .skills-container .card .back-end-skills .back-end h5,
.skills-section .skills .skills-container .card .back-end-skills .others h5,
.skills-section .skills .skills-container .card .other-skills .front-end h5,
.skills-section .skills .skills-container .card .other-skills .back-end h5,
.skills-section .skills .skills-container .card .other-skills .others h5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1.5px;
}
.skills-section .skills .skills-container .card .front-end-skills .skills-list,
.skills-section .skills .skills-container .card .back-end-skills .skills-list,
.skills-section .skills .skills-container .card .other-skills .skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 25px;
}
.skills-section .skills .skills-container .card .front-end-skills .skills-list div,
.skills-section .skills .skills-container .card .back-end-skills .skills-list div,
.skills-section .skills .skills-container .card .other-skills .skills-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform ease-in-out 0.3s;
}
.skills-section .skills .skills-container .card .front-end-skills .skills-list div:hover,
.skills-section .skills .skills-container .card .back-end-skills .skills-list div:hover,
.skills-section .skills .skills-container .card .other-skills .skills-list div:hover {
  transform: scale(1.2);
  transition: transform ease-in-out 0.3s;
}
.skills-section .skills .skills-container .card .front-end-skills .skills-list div p,
.skills-section .skills .skills-container .card .back-end-skills .skills-list div p,
.skills-section .skills .skills-container .card .other-skills .skills-list div p {
  font-size: 0.8125rem;
  font-weight: var(--font-regular);
  letter-spacing: 1.5px;
}

/* contact section */
.contact-section {
  padding: 44px 0;
  margin-bottom: 80px;
  overflow-x: hidden;
}
.contact-section .contact .contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 70px;
  /* contact form */
}
@media screen and (min-width: 800px) {
  .contact-section .contact .contact-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    -moz-column-gap: 66px;
         column-gap: 66px;
  }
}
.contact-section .contact .contact-container .contact-info h3 {
  display: none;
}
@media screen and (min-width: 800px) {
  .contact-section .contact .contact-container .contact-info h3 {
    display: block;
    font-size: 2.75rem;
    font-weight: var(--font-bold);
    letter-spacing: 1.5px;
    margin-bottom: 24px;
  }
}
.contact-section .contact .contact-container .contact-info p.desc {
  text-align: center;
  margin-bottom: 37px;
  font-size: clamp(1rem, 0.8682rem + 0.641vw, 1.125rem);
  font-weight: var(--font-regular);
  line-height: 22px;
}
@media screen and (min-width: 800px) {
  .contact-section .contact .contact-container .contact-info p.desc {
    text-align: left;
  }
}
.contact-section .contact .contact-container .contact-info .phone-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-section .contact .contact-container .contact-info .phone-email .email {
  margin-bottom: 24px;
}
.contact-section .contact .contact-container .contact-info .phone-email > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .contact-section .contact .contact-container .contact-info .phone-email > div {
    align-items: center;
    flex-direction: row;
    gap: 15px;
  }
}
.contact-section .contact .contact-container .contact-info .phone-email > div img {
  width: 36px;
  height: 36px;
}
.contact-section .contact .contact-container .contact-info .phone-email > div p {
  font-size: 1.125rem;
  font-weight: var(--font-bold);
  letter-spacing: 1.5px;
}
.contact-section .contact .contact-container .contact-form {
  background-color: var(--card-background);
  padding: 35px 27px;
}
.contact-section .contact .contact-container .contact-form .form label {
  font-size: 1.125rem;
  font-weight: var(--font-bold);
  letter-spacing: 1.5px;
}
.contact-section .contact .contact-container .contact-form .form .form-input {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 27px;
}
.contact-section .contact .contact-container .contact-form .form .form-input input[type=text],
.contact-section .contact .contact-container .contact-form .form .form-input input[type=email],
.contact-section .contact .contact-container .contact-form .form .form-input textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 8px 0;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  font-family: var(--font-space-grotesk);
}
.contact-section .contact .contact-container .contact-form .form .form-input input[type=text]::-moz-placeholder, .contact-section .contact .contact-container .contact-form .form .form-input input[type=email]::-moz-placeholder, .contact-section .contact .contact-container .contact-form .form .form-input textarea::-moz-placeholder {
  color: hsl(0, 8%, 80%);
  font-family: var(--font-space-grotesk);
  font-size: 1rem;
  font-weight: var(--font-regular);
}
.contact-section .contact .contact-container .contact-form .form .form-input input[type=text]::placeholder,
.contact-section .contact .contact-container .contact-form .form .form-input input[type=email]::placeholder,
.contact-section .contact .contact-container .contact-form .form .form-input textarea::placeholder {
  color: hsl(0, 8%, 80%);
  font-family: var(--font-space-grotesk);
  font-size: 1rem;
  font-weight: var(--font-regular);
}
.contact-section .contact .contact-container .contact-form .form .send-message-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contact-section .contact .contact-container .contact-form .form .send-message-btn .send-btn {
  padding: 7px 9px;
  background-color: var(--underline-color);
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 13px;
  font-family: var(--font-space-grotesk);
  font-size: 0.9375rem;
  font-weight: var(--font-regular);
  color: var(--text-color);
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: background ease-in-out 0.3s;
}
.contact-section .contact .contact-container .contact-form .form .send-message-btn .send-btn:hover {
  background-color: var(--hover-color);
}

/* footer section */
.footer-section {
  padding-bottom: 70px;
  /* navigation */
}
.footer-section .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  margin-bottom: 69px;
  /* responsive design */
}
@media screen and (min-width: 600px) {
  .footer-section .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-section .footer .logo {
  font-size: 1.625rem;
  color: var(--text-color);
  font-weight: var(--font-bold);
  letter-spacing: 1.3px;
}
.footer-section .footer .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 39px;
}
.footer-section .footer .social-links li a svg path {
  transition: all ease-in-out 0.3s;
}
.footer-section .footer .social-links li a:hover svg path {
  transition: all ease-in-out 0.3s;
  fill: var(--underline-color);
}
.footer-section .creator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.125rem;
  font-weight: var(--font-regular);
}/*# sourceMappingURL=style.css.map */